.poke-card {
  &.container {
    height: 210px;
    display: grid;
    grid-template-rows: 1fr 6fr;
    background-color: papayawhip;
    margin: 8px;
    border-radius: 18px;
    text-decoration: none;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid gray;
    h5 {
      color: black;
      font-weight: 900;
      margin: 16px 0 16px 8px;
    }
    button {
      height: 24px;
      min-width: 24px !important;
      width: 24px !important;
      span {
        color: red !important;
      }
    }
  }
  &__body {
    display: grid;
    place-items: center;
    padding: 0 16px;
    img {
      width: 70%;
      background-color: white;
    }
  }
}

@media (max-width: 425px) {
  .poke-card {
    &.container {
      height: 310px;
    }
    &__body {
      img {
        width: 70%;
      }
    }
  }
}